distribution/
bazel-*
google.golang.org/

roguedb/
roguedb-open-source/
.pnpm-store/
paket-files/
packages/
paket/

**/*.cc
**/*.pb.h
**/*.pb.cc
**/*pb2_grpc.py
**/*pb2.py
**/*pb2.pyi
getting_started/*.cs